on:
  push:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  job0:
    runs-on: ubuntu-latest
    steps:
      - name: visit https://calclocation.applinzi.com
        run: curl https://calclocation.applinzi.com/isdbconnect.php
      - name: visit https://wecfan.cf
        run: curl https://wecfan.cf
